@mixin container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 4rem;
  display: flex;
}

@mixin grid($value, $gap){
  display: grid;
  grid-template-columns:$value;
  grid-template-rows: 1fr;
  gap:$gap;
  justify-content: center;
  align-items: center;
  height: 100%;
}

@mixin stroke-width($property) {
  -webkit-text-stroke-width: $property;
  -moz-text-stroke-width: $property;
}

@mixin stroke-color($property) {
  -webkit-text-stroke-color: $property;
  -moz-text-stroke-color: $property;
}

@mixin background-clip($property) {
  -webkit-background-clip: $property;
  -moz-background-clip: $property;
  background-clip: $property;
}

@mixin fill-color($property) {
  -webkit-text-fill-color: $property;
  -moz-text-fill-color: $property;
}