h1,
h2{
  font-weight: 400;
  line-height: 1.2;
  margin: 1rem 0;
  font-size:3.2rem;
}
h3{
  font-weight: 400;
  line-height: 1.2;
  margin: 1rem 0;
  font-size: 2rem;
}

p{
  margin: 1rem 0;
  font-size: 1.6rem;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
  color: var(--color-white-text);
  font-size: 1.6rem;
}

.heading {
  font-size: 3.3rem;
  letter-spacing: 6px;
  margin: 0;
  text-transform: uppercase;


  &--stroke {
    @include stroke-width(2px);
    @include stroke-color(#fff);
    color: transparent;
  }
  &--shadow {
    text-shadow: 6px 6px var(--color-primary);

  }

}

