.u-center-text{
  text-align: center !important;
}

.u-margin-bottom-big{
  margin-bottom: 16rem !important;
}
.u-margin-bottom-medium{
  margin-bottom: 4rem !important;
}
.u-margin-bottom-small{
  margin-bottom: 1.5rem !important;
}

.u-margin-top-big{
  margin-top: 8rem !important;
}
.u-margin-top-huge{
  margin-top: 14rem !important;
}

.u-margin-y-medium{
  margin: 4rem 0;
}

.u-margin-y-big{
  margin: 8rem 0;
}

.u-padding-y-medium{
  padding: 4rem 0;

}

.u-padding-y-big{
  padding: 8rem 0;
}

.u-margin-y-huge{
  padding: 12rem 0;
}

.bg-primary{
  background-color: var(--color-primary);
  color: var(--color-white-text);
}
